<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to Dynamo!</h3>
  <p>
    Hello <%= @user %>. You are cool.
  </p>
</body>
</html>
