<!DOCTYPE HTML>
<html>
<head>
  <title>Hello</title>
<body>
  <h1>Welcome users!</h1>
  <ul id="users">
    <%= lc user inlist @users do %>
    <li data-user="<%= user %>"><%= user %></li>
    <% end %>
  </ul>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script>
  (function(global, document) {
    var e = new EventSource('/user-stream');

    // listen for the event stream from the server
    e.addEventListener( 'message', function(event) {
      var data = JSON.parse( event.data );
      handle_event( data.action, data.user );
    } );

    // receive a parsed event and route it to the right function
    function handle_event( action, user ) {
      console.log( "action: " + action + ', user: ' + user );

      if ( action === 'add' ) {
        add_user( user );
      } else if ( action === 'del' ) {
        del_user( user );
      }
    }

    // add an <li> element to ul#users
    // it should have a data-user attribute of the user's name
    function add_user( user_name ) {
      $('#users').append(
        $('<li>' + user_name + '</li>').data('user', user_name)
      )
    }

    // remove an <li> element from ul#users that has a matching data-user attribute
    function del_user( user_name ) {
      $('#users li').each( function( i, user ) {
        if ( $(user).data('user') == user_name ) {
          user.remove();
        }
      });
    }

  })(window, document);
  </script>
</body>
